@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-image: url('../../../assets/background-main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.navbar {
    background-color: transparent;
    padding: 5px 0;   
}
.navbar-nav .nav-link {
    color: #FD7249;
}

#logo {
    width: 80px;
    height: auto;
}
.carousel-caption h5, .carousel-caption p {
    color: white;
}

.carousel-item img {
    width: 100%;
    max-height: 500px; /* Altura máxima desejada */
    height: auto; /* Altura automática para manter a proporção */
    object-fit: cover;
    overflow: hidden;
}

#userGreeting {
    padding-top: 50px;
    color: #FD7249;
}

footer {
    background-color: transparent;
    color: #FFFF;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.nav-item{
    font-weight: 600
}
#logoutButton{
    margin-left: 15px;
}